<div>

<div class="gameboard-wrapper">
<button class="btn btn-default clear" ng-click="vm.startOver()">New Game</button>
<button class="btn btn-default" ng-click="vm.mainMenu()">Main Menu</button>

<div class="display-wrapper">
<div class="player-display pull-left">
Player 1: {{vm.thisGame.p1}}
	<div class="small-screen-hide">
		<hr>
		<p>Wins: {{vm.thisGame.p1_wins}}</p>
		<p>Losses: {{vm.thisGame.p1_losses}}</p>
		<p> Ties: {{vm.thisGame.p1_ties}} </p>
	</div>
</div>
<div class="player-display pull-left clear">
Player 2: {{vm.thisGame.p2}}
	<div class="small-screen-hide">
		<hr>
		<p>Wins: {{vm.thisGame.p2_wins}}</p>
		<p> Losses: {{vm.thisGame.p2_losses}}</p>
		<p> Ties: {{vm.thisGame.p2_ties}} </p>
	</div>
</div>
<div class="player-display player-display-turns clear" ng-show="vm.isP1Turn && (!vm.gameOver && !vm.isTied)">
{{vm.thisGame.p1}}'s Turn!
</div>
<div class="player-display player-display-turns clear" ng-show="!vm.isP1Turn && (!vm.gameOver && !vm.isTied)">
{{vm.thisGame.p2}}'s Turn!
</div>
<div class="message player-display-turns pull-left clear" ng-show="vm.gameOver">
		{{vm.gameOver}} wins!
	</div>
	<div class="message pull-left clear" ng-show="vm.isTied">
		Tie!
	</div>

<div class="gameboard gameboard-col">

	<div class="gameboard-row">
		<div class="tile" ng-click="vm.playTurn(1)">{{vm.thisGame.gameboard[1]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(2)">{{vm.thisGame.gameboard[2]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(3)">{{vm.thisGame.gameboard[3]}}
		</div>
	</div>
	<div class="gameboard-row">
		<div class="tile" ng-click="vm.playTurn(4)">{{vm.thisGame.gameboard[4]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(5)">{{vm.thisGame.gameboard[5]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(6)">{{vm.thisGame.gameboard[6]}}
		</div>
	</div>
	<div class="gameboard-row">
		<div class="tile" ng-click="vm.playTurn(7)">{{vm.thisGame.gameboard[7]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(8)">{{vm.thisGame.gameboard[8]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(9)">{{vm.thisGame.gameboard[9]}}
		</div>
	</div>

</div>
</div>

</div>
</div>
