<div>

	

<div class="gameboard-wrapper">
<button class="btn btn-default clear" ng-click="vm.startOver()">New Game</button>
<button class="btn btn-default" ng-click="">Main Menu</button>

<div class="display-wrapper">
<div class="player-display pull-left">
Player 1: {{vm.players[0].name}}
<hr>
<p>Wins: {{vm.players[0].wins}} Losses: {{vm.players[0].losses}} Ties: {{vm.players[0].ties}} </p>
</div>
<div class="player-display pull-left clear">
Player 2: {{vm.players[1].name}}
<hr>
<p>Wins: {{vm.players[1].wins}} Losses: {{vm.players[1].losses}} Ties: {{vm.players[1].ties}} </p>
</div>
<div class="player-display player-display-turns pull-left clear" ng-show="vm.isP1Turn && (!vm.gameOver && !vm.isTied)">
{{vm.players[0].name}}'s Turn!
</div>
<div class="player-display player-display-turns pull-left clear" ng-show="!vm.isP1Turn && (!vm.gameOver && !vm.isTied)">
{{vm.players[1].name}}'s Turn!
</div>
<div class="message pull-left clear" ng-show="vm.gameOver">
		{{vm.gameOver}} wins!
	</div>
	<div class="message pull-left clear" ng-show="vm.isTied">
		Tie!
	</div>

<div class="gameboard gameboard-col">
	
	<div class="gameboard-row">
		<div class="tile" ng-click="vm.playTurn(1)">{{vm.gameboard[1]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(2)">{{vm.gameboard[2]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(3)">{{vm.gameboard[3]}}
		</div>
	</div>
	<div class="gameboard-row">
		<div class="tile" ng-click="vm.playTurn(4)">{{vm.gameboard[4]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(5)">{{vm.gameboard[5]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(6)">{{vm.gameboard[6]}}
		</div>
	</div>
	<div class="gameboard-row">
		<div class="tile" ng-click="vm.playTurn(7)">{{vm.gameboard[7]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(8)">{{vm.gameboard[8]}}
		</div>
		<div class="tile" ng-click="vm.playTurn(9)">{{vm.gameboard[9]}}
		</div>
	</div>
	
</div>
</div>

</div>
</div>
